/*自定义字体*/
@font-face{
    font-family: 'zhuziawan';
    font-display: swap;
    src: url('/fonts/zhuziawan.woff2') format("truetype");
}

body {
    font-family: 'zhuziawan', 'WenQuanYi Micro Hei', 'Noto Serif SC', 'ST Heiti', 'Microsoft YaHei';
}

.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }


/*导航栏居中
#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}*/

#nav.hide-menu #toggle-menu .site-page {
    padding-left: 12px;
}

/*文章内容段落开头空两格*/
#article-container p {
    text-indent: 2em;
}

#post-info .post-title{ 
    font-weight: bold;
}

/*文章标题下添加边框*/
.article-title {
    font-weight: bold;
    border-bottom: 1px solid;
}

/*右边浮动菜单去掉头像下统计数据*/
.sidebar-site-data {
    display: none;
}

/*右边浮动菜单宽度调整*/
#sidebar #sidebar-menus {
    right: -180px;
    width: 180px;
}
#sidebar #sidebar-menus .menus_items .site-page {
    padding: 6px 0px 6px 55px;
    font-size: 1em;
}

/*主页向下箭头位置*/
#scroll-down {
    bottom: 70px !important;
}

/*首页页面中间隐藏网站标题*/
.full_page #site-title {
    display: none;
}

/*文章列表、文章内容、侧边卡片、页面内容 透明度设置*/
#recent-posts .recent-post-item, #post, .card-widget, #page, #archive, #category, .search-dialog {
    background: rgba(255, 255, 255, 0.7) !important;
}

/*页脚*/
#footer-wrap .footer_custom_text {
    font-size: 14px;
}

#footer-wrap .footer-left {
    background-color: #515050;
    padding: 2px 6px 2px 6px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

#footer-wrap .footer-right {
    margin-right: 10px;
    background-color: #f21f8c;
    padding: 2px 6px 2px 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/*右下按钮阅读百分比*/
#rightside .page-percentage {
    font-size: 80%;
}

/*切换背景*/
#toggleWinbox-button {
    display: inline;
    padding: 0 0 0 14px;
}

.wb-header {
    background-color: #f21f8c;
}

/* 由于全屏会出bug，所以直接给他隐藏 */
.winbox {
    border-radius: 12px;
    overflow: hidden;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme='dark'] .wb-body,
[data-theme='dark'] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    width: 166px;
    margin: 10px;
    background-size: cover
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

.box {
    height: 100px;
}

/* 老用户如果不再使用页面版可删除下面代码 */
/* #color {
    border: none;
    background: transparent;
    width: 166px;
    height: 110px;
    margin: 5px 10px;
    position: relative;
    cursor: pointer;
}

#color::before {
    position: absolute;
    color: rgb(255, 255, 255);
    left: 38px;
    top: 44px;
    content: '自定义颜色';
} */

@media screen and (max-width: 768px) {
    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }
    .pimgbox {
        height: 205px;
    }
    /* 老用户如果不再使用页面版可删除下面代码 */
    /* #color {
        width: 141px;
        height: 83px;
        margin: 7px;
    }
    #color::before {
        left: 33px;
        top: 33px;
    }     */

    /* 2.0新增内容 */    
    .wb-min {
        display: none;
    }
    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}


/* 返回顶部 */
button#go-up #percent {
    display: none;
    font-size: 14px !important;
}

button#go-up span {
    font-size: 12px!important;
    margin-right: -1px;
}

/* 鼠标滑动到按钮上时显示返回顶部图标 */
button#go-up:hover i {
    display: block !important;
}

button#go-up:hover #percent {
    display: none !important;
}
