/*自定义字体*/
@font-face{
    font-family: 'zpix';
    font-display: swap;
    src: url('/font/zpix.woff2') format("truetype");
}

body {
    font-family: 'zpix', "Microsoft YaHei";
}

/*文章内容段落开头空两格*/
#article-container p {
    text-indent: 2em;
}

#post-info .post-title{
    font-weight: bold;
}

/*文章标题下添加边框*/
.article-title {
    font-weight: bold;
    border-bottom: 1px solid;
}

/*右边浮动菜单去掉头像下统计数据*/
.sidebar-site-data {
    display: none;
}

/*右边浮动菜单宽度调整*/
#sidebar #sidebar-menus {
    right: -180px;
    width: 180px;
}
#sidebar #sidebar-menus .menus_items .site-page {
    padding: 6px 0px 6px 40px;
    font-size: 1em;
}

/*主页向下箭头位置*/
#scroll-down {
    bottom: 70px !important;
}

/*首页页面中间隐藏网站标题*/
.full_page #site-title {
    display: none;
}


